/* Write your CSS here. */
.wgs {
    height: 241px;
    width: 320px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.wgs__mole-head {
    height: 178px;
    width: 188px;
    position: absolute;
    left: 54px;
    transition-property: margin-top;
    transition-duration: 0.25s;
}

.wgs__mole-hill {
    height: 110px;
    width: 320px;
    position: absolute;
    top: 131px;
}

.wgs__mole-head--hidden {
    margin-top: 241px;
}

body {
    zoom: 0.5;
}

.pf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}
