/* Write your CSS here. */
.whack-a-mole {
    height: 482px;
    width: 640px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.whack-a-mole__head {
    height: 356px;
    width: 376px;
    position: absolute;
    left: 109px;
}

.whack-a-mole__hill {
    height: 220px;
    width: 640px;
    position: absolute;
    top: 262px;
}

.whack-a-mole__head--hidden {
    margin-top: 482px;
}

body {
    zoom: 0.5;
}
